{% extends 'base.html' %}
{% block header %}
    <header class="bg-success text-white">
        <div class="container text-center">
            <h1>Welcome {{user}}</h1>
            <p class="lead">View all your saved Password</p>
        </div>
    </header>
    {% endblock header %}
   {% block body %}
   <div class="content-section">
  <div class="media">
    <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
    <div class="media-body">
      <h2 class="account-heading">{{user.username}}</h2>
      <p class="text-secondary">{{user.email}}</p>
    </div>
  </div>
    <p>{{ wpass }} This is the password</p>
{% endblock body %}
